[project]
	description = A tool for reviewing Articles for Creation submissions on the English Wikipedia
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/theopolisme
[access "refs/for/refs/*"]
	read = group user/theopolisme
	push = group user/theopolisme
	label-Code-Review = -2..+2 group user/theopolisme
	label-Verified = -1..+1 group user/theopolisme
	rebase = group user/theopolisme
	removeReviewer = group user/theopolisme
	submit = group user/theopolisme
[access "refs/heads/*"]
	read = group user/theopolisme
	create = group user/theopolisme
	push = +force group user/theopolisme
	pushMerge = group user/theopolisme
[access "refs/tags/*"]
	push = +force group user/theopolisme
	pushTag = group user/theopolisme
	pushSignedTag = group user/theopolisme
