//<nowiki>

<!-- preferences -->
<div class="afch afch-form afch-preferences">
	<div class="details centered">
		<strong>AFCH v{{version}} / {{versionName}}</strong>
	</div>
	<hr>
	<div id="autoOpenWrapper">
		<label for="autoOpen" class="afch-label">Automatically open the review panel on AfC submissions</label>
		<input type="checkbox" id="autoOpen" class="afch-input" {{#autoOpen}}checked{{/autoOpen}} />
	</div>
	<div id="logCsdWrapper">
		<label for="logCsd" class="afch-label">Log speedy deletion nominations</label>
		<input type="checkbox" id="logCsd" class="afch-input" {{#logCsd}}checked{{/logCsd}} />
	</div>
</div>
<!-- /preferences -->

//</nowiki>
