//<nowiki>

<!-- main -->
<div id="afchReviewPanel" class="initial">
	<div id="afchInitialHeader">
		<span class="header-script">AFCH v{{version}} / {{versionName}}</span>
		Reviewing "{{title}}"
	</div>
	<div id="afchButtons">
		{{#accept}}<a id="afchAccept" class="accept afch-button gradient-button">Accept</a>{{/accept}}
		{{#decline}}<a id="afchDecline" class="decline afch-button gradient-button">Decline</a>{{/decline}}
		{{#comment}}<a id="afchComment" class="comment afch-button gradient-button">Comment</a>{{/comment}}
		{{#submit}}<a id="afchSubmit" class="submit afch-button gradient-button">Submit</a>{{/submit}}
		<a id="afchG13" class="g13 afch-button gradient-button {{^g13}}hidden{{/g13}}">Request G13 deletion</a>
	</div>
</div>
<!-- /main -->

<!-- accept -->
<div id="afchReviewPanel" class="accept">
	<div id="afchHeader" class="header">Accepting...</div>
	<div id="afchContent" class="content">

		<label for="newTitle" class="afch-label">Move submission to</label>
		<input type="text" id="newTitle" class="afch-input afch-textfield" placeholder="Target page name"
			{{#newTitle}}value="{{newTitle}}"{{/newTitle}} />

		<div id="afchSubmitForm" data-running="Accepting submission..." data-done="Submission accepted"
		class="gradient-button accept">Accept &amp; publish</div>

	</div>
</div>
<!-- /accept -->

<!-- decline -->
<div id="afchReviewPanel" class="decline">
	<div id="afchHeader" class="header">Declining...</div>
	<div id="afchContent" class="content">

		<div id="afchSubmitForm" data-running="Decling submission..." data-done="Submission declined"
		class="gradient-button decline">Decline submission</div>

	</div>
</div>
<!-- /decline -->

<!-- comment -->
<div id="afchReviewPanel" class="comment">
	<div id="afchHeader" class="header">Commenting...</div>
	<div id="afchContent" class="content">

		<textarea id="commentText" class="afch-input afch-textfield afch-textarea"
			placeholder="Enter your comment about the submission using wikicode syntax. Your signature will be added automatically."
			cols="100" rows="5"></textarea>

	<div class="afch-option">
		<input type="checkbox" id="notifyUser" class="afch-input" {{#notifyByDefault}}checked{{/notifyByDefault}} />
		<label for="notifyUser" class="afch-label">Notify submitter</label>
	</div>

		<div id="afchSubmitForm" data-running="Commenting on submission..." data-done="Comment posted"
		class="gradient-button comment">Post comment</div>

	</div>
</div>
<!-- /comment -->

<!-- submit -->
<div id="afchReviewPanel" class="submit">
	<div id="afchHeader" class="header">Submitting...</div>
	<div id="afchContent" class="content centered">
		Submit as&nbsp;
		<select id="submitType" class="afch-input">
			{{#customSubmitters}}
			<option value="{{name}}" {{#selected}}selected{{/selected}}>{{description}}</option>
			{{/customSubmitters}}
			<option value="creator">Page creator</option>
			<option value="self">Yourself</option>
			<option value="other">Someone else</option>
		</select>
		<input id="submitterName" type="text" class="afch-input hidden" placeholder="Username" />

		<div id="afchSubmitForm" data-running="Submitting..." data-done="Submitted"
		class="gradient-button submit button-centered">Submit</div>

	</div>
</div>
<!-- /submit -->

<!-- g13 -->
<div id="afchReviewPanel" class="g13">
	<div id="afchHeader" class="header">Requesting deletion...</div>
	<div id="afchContent" class="content">

		<div id="afchSubmitForm" data-running="Requesting deletion..." data-done="Deletion requested"
		class="gradient-button g13">Request deletion</div>

	</div>
</div>
<!-- /g13 -->

//</nowiki>
