//<nowiki>

<!-- main -->
<div class="review-panel initial">
	<div class="initial-header">
		<span>AFCH v<span title="{{versionName}}">{{version}}</span>&nbsp;
		(<!-- Disabled due to issue #71 <span class="feedback-wrapper"></span> | --><span class="preferences-wrapper"></span>)</span>
		Reviewing "{{title}}"
	</div>
	<div class="warnings hidden"></div>
	<div class="button-wrapper">
		{{#accept}}<a id="afchAccept" class="accept afch-button gradient-button">Accept</a>{{/accept}}
		{{#decline}}<a id="afchDecline" class="decline afch-button gradient-button">Decline</a>{{/decline}}
		{{#comment}}<a id="afchComment" class="comment afch-button gradient-button">Comment</a>{{/comment}}
		{{#submit}}<a id="afchSubmit" class="submit afch-button gradient-button">Submit</a>{{/submit}}
		<a id="afchG13" class="g13 afch-button gradient-button g13-related {{^g13}}hidden{{/g13}}">Request G13 deletion</a>
		<a id="afchPostponeG13" class="postpone-g13 afch-button gradient-button g13-related {{^g13}}hidden{{/g13}}">Postpone G13</a>
		<div id="afchExtra" class="extra afch-button">
			<div class="wrapper">
				<div class="open" title="View additional options">«</div>
				<div class="links">
					<a id="afchClean" class="link">Clean submission</a>
					<a id="afchMark" class="link">
						{{#alreadyUnderReview}}Unmark{{/alreadyUnderReview}}{{^alreadyUnderReview}}Mark{{/alreadyUnderReview}} as under review
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /main -->

<!-- warning-deletions-table -->
<div class="deletion-log">
	<table>
		{{#deletions}}
		<tr>
			<td class="timestamp"><span title="{{timestamp}}">{{relativeTimestamp}}</span>:</td>
			<td class="detail">
				<span class="reason">{{{reason}}}</span>
				<span class="actor">(deleted by <a href="{{deletorLink}}">{{deletor}}</a>)</span>
			</td>
		</tr>
		{{/deletions}}
	</table>
</div>
<!-- /warning-deletions-table -->

<!-- quick-action-processing -->
<div class="review-panel {{actionClass}}">
	<div class="header">{{actionTitle}}...</div>
	<div id="afchContent" class="content centered">
		<div id="afchSubmitForm" data-running="Working..." class="gradient-button button-centered {{actionClass}}">Working...</div>
	</div>
</div>
<!-- /quick-action-processing -->

<!-- accept -->
<div class="review-panel accept">
	<div class="header">Accepting...</div>
	<div id="afchContent" class="content">

		<div id="newTitleWrapper">
			<label for="newTitle" class="afch-label">New title</label>
			<input type="text" id="newTitle" class="afch-input afch-textfield" placeholder="Target page name"
				{{#newTitle}}value="{{newTitle}}"{{/newTitle}} />
			<span id="titleStatus"></span>
		</div>

		<div id="assessmentWrapper">
			<label for="newAssessment" class="afch-label">Article assessment</label>
			<select id="newAssessment" class="afch-input">
				<option value="" selected></option>
				<option value="B">B-class</option>
				<option value="C">C-class</option>
				<option value="start">Start-class</option>
				<option value="stub">Stub-class</option>
				<option value="list">List-class</option>
				<option value="disambig">Disambig-class</option>
				<option value="template">Template-class</option>
				<option value="redirect">Redirect-class</option>
				<option value="portal">Portal-class</option>
				<option value="project">Project-class</option>
				<option value="na">NA-class</option>
			</select>
		</div>

		{{#hasWikiProjects}}
		<div id="wikiProjectWrapper">
			<label for="newWikiProjects" class="afch-label">Add WikiProjects</label>
			<select id="newWikiProjects" class="afch-input" multiple>
				{{#wikiProjects}}
				<option value="{{templateName}}">{{displayName}}</option>
				{{/wikiProjects}}
			</select>
		</div>
		{{/hasWikiProjects}}

		<div id="categoryWrapper">
			<label for="newCategories" class="afch-label">Add categories</label>
			<select id="newCategories" class="afch-input" multiple>
				{{#categories}}
				<option value="{{.}}" selected>{{.}}</option>
				{{/categories}}
			</select>
		</div>

		<div id="isBiographyWrapper">
			<label for="isBiography" class="afch-label">Is the article a biography?</label>
			<input type="checkbox" id="isBiography" class="afch-input"/>
		</div>

		<div id="bioOptionsWrapper" class="hidden">

			<div id="subjectNameWrapper">
				<label for="subjectName" class="afch-label">Subject name (last, first)</label>
				<input type="text" id="subjectName" class="afch-input afch-textfield" placeholder="Magellan, Ferdinand"/>
			</div>

			<div id="subjectDescriptionWrapper">
				<label for="subjectDescription" class="afch-label">Description of the subject</label>
				<input type="text" id="subjectDescription" class="afch-input afch-textfield" placeholder="Sea explorer"/>
			</div>

			<div id="birthYearWrapper">
				<label for="birthYear" class="afch-label">Year of birth</label>
				<input type="text" id="birthYear" class="afch-input afch-textfield" placeholder="1901"/>
			</div>

			<div id="birthMonthDayWrapper" class="hidden">
				<label for="birthMonthDay" class="afch-label">Month and day of birth</label>
				<input type="text" id="birthMonthDay" class="afch-input afch-textfield" placeholder="November 2"/>
			</div>

			<div id="birthPlaceWrapper">
				<label for="birthPlace" class="afch-label">Place of birth</label>
				<input type="text" id="birthPlace" class="afch-input afch-textfield" placeholder="Memphis, Tennessee"/>
			</div>

			<div id="lifeStatusWrapper">
				<label for="lifeStatus" class="afch-label">Is the subject alive?</label>
				<select id="lifeStatus" class="afch-input">
					<option value="unknown" selected>Unknown</option>
					<option value="living">Living</option>
					<option value="dead">Dead</option>
				</select>
			</div>

			<div id="deathWrapper" class="hidden">

				<div id="deathYearWrapper">
					<label for="deathYear" class="afch-label">Year of death</label>
					<input type="text" id="deathYear" class="afch-input afch-textfield" placeholder="1999"/>
				</div>

				<div id="deathMonthDayWrapper" class="hidden">
					<label for="deathMonthDay" class="afch-label">Month and day of death</label>
					<input type="text" id="deathMonthDay" class="afch-input afch-textfield" placeholder="December 13"/>
				</div>

				<div id="deathPlaceWrapper">
					<label for="deathPlace" class="afch-label">Place of death</label>
					<input type="text" id="deathPlace" class="afch-input afch-textfield" placeholder="London, England"/>
				</div>

			</div>

		</div>

		{{#showPatrolOption}}
		<div id="patrolPageWrapper">
			<label for="patrolPage" class="afch-label">Mark page as patrolled</label>
			<input type="checkbox" id="patrolPage" class="afch-input"/>
		</div>
		{{/showPatrolOption}}

		<div id="notifyWrapper">
			<label for="notifyUser" class="afch-label">Notify submitter</label>
			<input type="checkbox" id="notifyUser" class="afch-input" checked/>
		</div>

		<div id="afchSubmitForm" data-running="Accepting submission..." class="gradient-button accept">Accept &amp; publish</div>

	</div>
</div>
<!-- /accept -->

<!-- decline -->
<div class="review-panel decline">
	<div class="header">Declining...</div>
	<div id="afchContent" class="content centered">

		<fieldset id="declineRejectWrapper" class="radioContainer afch-input" name="declineReject">
			<input type="radio" id="declineRejectDecline" name="declineReject" value="decline" checked />
			<label for="declineRejectDecline"><b>Decline</b> (for later improvement &amp; resubmission)</label>
			&emsp;
			<input type="radio" id="declineRejectReject" name="declineReject" value="reject" />
			<label for="declineRejectReject"><b>Reject</b> (unsuitable topic; no option to resubmit)</label>
		</fieldset>

		<div id="declineReasonWrapper">
			<select id="declineReason" class="afch-input text-left" multiple="multiple">
				<option value=""></option>
				<optgroup label="Notability">
					<option value="neo">neo - Submission is about a neologisim not yet shown to meet notability guidelines</option>
					<option value="web">web - Submission is about web content not yet shown to meet notability guidelines</option>
					<option value="prof">prof - Submission is about a professor not yet shown to meet notability guidelines</option>
					<option value="athlete">athlete - Submission is about an athlete not yet shown to meet notability guidelines</option>
					<option value="music">music - Submission is about a musician or musical work not yet shown to meet notability guidelines</option>
					<option value="film">film - Submission is about a film not yet shown to meet notability guidelines</option>
					<option value="corp">corp - Submission is about a company or organization not yet shown to meet notability guidelines</option>
					<option value="bio">bio - Submission is about a person not yet shown to meet notability guidelines</option>
					<option value="nn">nn - Submission is about a topic not yet shown to meet general notability guidelines (be more specific if possible)</option>
				</optgroup>
				<optgroup label="Invalid submissions">
					<option value="blank">blank - Submission is blank</option>
					<option value="lang">lang - Submission is not in English</option>
					<option value="test">test - Submission appears to be a test edit</option>
					<option value="redirect">redirect - Submission is a redirect request</option>
				</optgroup>
				<optgroup label="BLP &amp; vandalism">
					<option value="van">van - Submission is vandalism, a negative unsourced BLP, or an attack page</option>
					<option value="ilc">ilc - Submission is a BLP that does not meet minimum inline citation requirements</option>
					<option value="blp">blp - BLP contains unsourced, possibly defamatory claims (AGF and wait for sources)</option>
				</optgroup>
				<optgroup label="Submission content">
					<option value="cv">cv - Submission is a copyright violation</option>
					<option value="v">v - Submission is improperly sourced</option>
					<option value="not">not - Submission fails [[Wikipedia:What Wikipedia is not]]</option>
					<option value="news">news - Submission appears to be a news story of a single event</option>
					<option value="dict">dict - Submission is a dictionary definition</option>
					<option value="plot">plot - Submission consists mostly of a plot summary</option>
					<option value="joke">joke - Submission appears to be a joke or hoax</option>
				</optgroup>
				<optgroup label="Prose issues">
					<option value="essay">essay - Submission reads like an essay</option>
					<option value="npov">npov - Submission is not written in a formal, neutral encyclopedic tone</option>
					<option value="adv">adv - Submission reads like an advertisement</option>
				</optgroup>
				<optgroup label="Duplicate articles">
					<option value="exists">exists - Submission is duplicated by another article already in mainspace</option>
					<option value="dup">dup - Submission is a duplicate of another existing submission</option>
				</optgroup>
				<optgroup label="Other">
					<option value="reason">custom - Enter decline reason in the box below</option>
					<option value="context">context - Submission provides insufficient context</option>
					<option value="mergeto">mergeto - Submission should be merged into an existing article</option>
				</optgroup>
			</select>

			<div id="previewWrapper">
				<a id="previewTrigger" class="link" role="button">(preview)</a>
				<div id="previewContainer"></div>
			</div>
		</div>

		<div id="rejectReasonWrapper" class="hidden">
			<select id="rejectReason" class="afch-input text-left" multiple="multiple">
				<option value=""></option>
				<option value="n">n - Topic is not notable</option>
				<option value="e">e - Topic is contrary to the purpose of Wikipedia</option>
			</select>
		</div>


		<div id="declineInputWrapper">
			<div id="textfieldWrapper" class="afch-option hidden">
				<label for="declineTextfield" class="afch-label"></label>
				<input id="declineTextfield" type="text" class="afch-input afch-textfield" placeholder="" />
			</div>

			<div id="textfieldWrapper2" class="afch-option hidden">
				<label for="declineTextfield2" class="afch-label"></label>
				<input id="declineTextfield2" type="text" class="afch-input afch-textfield" placeholder="" />
			</div>

			<div id="cvUrlWrapper" class="afch-option hidden">
				<label for="cvUrlTextarea" class="afch-label">Original URLs (one per line)</label>
				<textarea id="cvUrlTextarea" class="afch-input afch-textfield afch-textarea"
					placeholder="Enter original URLs here, one per line."
					cols="110" rows="3"></textarea>
			</div>

			<textarea id="declineTextarea" class="afch-input afch-textfield afch-textarea"
				placeholder="Elaborate on your decline reason here using wikicode syntax."
				cols="100" rows="5"></textarea>

			<div id="csdWrapper" class="afch-option hidden">
				<input type="checkbox" id="csdSubmission" class="afch-input"/>
				<label for="csdSubmission" class="afch-label">Nominate the submission for speedy deletion</label>
			</div>
		</div>

		<div id="rejectInputWrapper" class="hidden">
			<textarea id="rejectTextarea" class="afch-input afch-textfield afch-textarea"
				placeholder="Elaborate on your reject reason here using wikicode syntax."
				cols="100" rows="5"></textarea>
		</div>

		<div id="notifyWrapper" class="hidden">
			<div class="afch-option">
				<input type="checkbox" id="notifyUser" class="afch-input" checked/>
				<label for="notifyUser" class="afch-label">Notify submitter</label>
			</div>
			<div class="afch-option">
				<input type="checkbox" id="inviteToTeahouse" class="afch-input" checked/>
				<label for="inviteToTeahouse" class="afch-label">Invite submitter to Teahouse <small>(if they haven't been invited yet)</small></label>
			</div>
		</div>

		<div id="afchSubmitForm" data-running="Declining submission..." class="gradient-button button-centered decline hidden">Decline submission</div>

	</div>
</div>
<!-- /decline -->

<!-- comment -->
<div class="review-panel comment">
	<div class="header">Commenting...</div>
	<div id="afchContent" class="content centered">

		<textarea id="commentText" class="afch-input afch-textfield afch-textarea"
			placeholder="Enter your comment about the submission using wikicode syntax. Your signature will be added automatically."
			cols="100" rows="5"></textarea>

	<div class="afch-option">
		<input type="checkbox" id="notifyUser" class="afch-input" {{#notifyByDefault}}checked{{/notifyByDefault}} />
		<label for="notifyUser" class="afch-label">Notify submitter</label>
	</div>

		<div id="afchSubmitForm" data-running="Commenting on submission..." class="gradient-button button-centered comment">Post comment</div>

	</div>
</div>
<!-- /comment -->

<!-- submit -->
<div class="review-panel submit">
	<div class="header">Submitting...</div>
	<div id="afchContent" class="content centered">
		<label for="submitType" class="afch-label">Submit as</label>
		<select id="submitType" class="afch-input">
			{{#customSubmitters}}
			<option value="{{name}}" {{#selected}}selected{{/selected}}>{{description}}</option>
			{{/customSubmitters}}
			<option value="creator">Page creator</option>
			<option value="self">Yourself</option>
			<option value="other">Someone else</option>
		</select>

		<div id="submitterNameWrapper" class="hidden">
			<input type="text" id="submitterName" class="afch-input afch-textfield" placeholder="Username" />
			<div id="submitterNameStatus" class="error"></div>
		</div>

		<div id="afchSubmitForm" data-running="Submitting..." class="gradient-button button-centered submit">Submit</div>

	</div>
</div>
<!-- /submit -->

<!-- postpone-g13 -->
<div class="review-panel postpone-g13">
	<div class="header">Postponing...</div>
	<div id="afchContent" class="content centered">
		<textarea id="commentText" class="afch-input afch-textfield afch-textarea"
			placeholder="Enter your rationale for postponing deletion, which will be added to the submission as a new comment."
			cols="100" rows="5"></textarea>

		<div id="afchSubmitForm" data-running="Postponing..." class="gradient-button button-centered postpone-g13">
			Postpone deletion
		</div>

	</div>
</div>
<!-- /postpone-g13 -->

//</nowiki>
